@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Kalam', cursive;
  list-style-type: none;
}

header{
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:1.5rem; left:50%;
  transform: translateX(-50%);
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  padding:.3rem 2rem;
  transition: .2s linear;
  z-index: 1000;
  /* font-size: 1.3rem; */
}

.header-active{
  top:0;
  /* left: 0; */
  width:100%;
  border-radius: 0;
  background: rgba(35, 44, 39, 0.877)
}

header .logo{
  color:white;
  font-size: 3rem;
}

header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0; padding:0;
}

header .navbar ul li{
  margin:0 1rem;
}

header .navbar ul li a{
  font-size: 2rem;
  transition: .2s linear;
  color: white;
}


header .navbar ul li .active,
header .navbar ul li a:hover{
  color: rgb(87, 224, 105);
}

header .fa-bars{
  font-size: 3rem;
  color:white;
  cursor: pointer;
  display: none;
}

#particles-js{
  height: 100vh;
  background-color: rgba(35, 44, 39, 0.877);
  color: white;
}

#particles-js div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(9, 105, 33, 0.425);
  border-radius: 10px;
  padding: 20px;
}

#particles-js h1{
  text-align: center;
}

#about-us-section{
  min-height: 100vh;
}
#about-us-section li{
  margin: 15px 0px;
}

#about-us-section i{
  margin-left: 25px;
  color: green;
  font-size: 20px;
  /* text-indent: 20px; */
  animation: float 4s ease-in-out infinite;
}

@keyframes float{
  0%{
      transform: translate(-50%, -25%);
  }
  50%{
      transform: translate(-50%, -75%);
  }
  100%{
      transform: translate(-50%, -25%);
  }
}

#description-section{
  min-height: 100vh;
  text-align: center;
}



h2{
  font-size: 4rem;
  color: rgba(9, 105, 33);
  margin: 2rem;
  text-align: center;
}

p, li{
  font-size: 2rem;
  padding: 0px 10px;
}

#description-section .container{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px 10px;
  justify-content: center;
  align-content: center;
}

#description-section .card{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  
}

hr{
  margin: 40px 20px;
}

#description-section .card .img-div{
  min-width: 100px;
  min-height: 100px;
}

#description-section .card .text-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#description-section img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* #description-section .card2{
  grid-template-areas: "text-div img-div";
}

#description-section .card2 .text-div{
  grid-area: text-div;
}

#description-section .card2 .img-div{
  grid-area: img-div;
} */

.parallax-div{
  height: 60vh;
  background: url(../../images/parallax.jpg);
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#contact-section *{
  font-size: 1.4rem;
}

#contact-section .container{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 10px;
}

#contact-section .form-group{
  margin: 10px 0px;
}

#contact-section .form-control{
  width: 100%;
  border: none;
  border-bottom: .5px solid black;
  outline: none;
}

footer{
  padding: 15px 0px;
  background-color: rgba(35, 44, 39, 0.877);
  color: white;
}
footer p{
  text-align: center;
}

/*-----------------------------------------------------------------------------*/
/*-----------------------------------Responsive--------------------------------*/
/*-----------------------------------------------------------------------------*/

/***tablet***/

@media screen and (min-width: 400px) and (orientation: landscape){
  p{
      padding: 0px 20px;
      text-align: justify;
  }

  #description-section .card{
      display: grid;
      grid-template-columns: 1fr;
      padding: 0px 10px;
      justify-content: center;
      align-items: center;
  }

  #description-section .container .img-div{
      max-height: 300px;
      max-width: 300px;
      /* background: red; */
      align-self: center;
      justify-self: center;
  }
}





























@media (max-width:768px){

  html{
    font-size: 55%;
  }

  header .fa-bars{
    display: block;
  }

  header .navbar{
    position: fixed;
    top:-100rem; left:50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    z-index: 1000;
    transition: .2s linear;
    opacity: 0;
  }

  header .navbar ul{
    flex-flow: column;
  }

  header .navbar ul li{
    margin:1rem 0;
    width: 100%;
    text-align: center;
  }

  header .navbar ul li a{
    display: block;
    font-size: 3rem;
  }

  header .nav-toggle{
    top:5.5rem;
    opacity: 1;
  }

  

}

@media (max-width:500px){

  

}